/* .appMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
form {
	max-width: 600px;
	padding: 20px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input,
select {
	height: 40px;
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	border: none;
	outline: none;
	color: var(--contrast);
	background-color: var(--mainColor);
}
label {
	margin-top: 15px;
	padding: 5px;
}
button {
	margin: 30px;
}

.realAnchor {
	color: var(--mainColor);
}

.error {
	padding: 2px;
	visibility: hidden;
	color: brown;
}
