.category-selected-card {
	margin-top: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category-selected {
	width: 200px;
	padding: 5px;
	border-radius: 8px;
	background-color: var(--secondary);
}

.news-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.forYou-section {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary);
}

h2 {
	padding: 20px;
}

.yourNews {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loadBtn {
	max-width: 600px;
	margin: 10px;
	height: 30px;
	width: 80%;
	border: none;
	font-weight: 600;
	color: var(--background);
	background-color: var(--mainColor);
	border-radius: 8px;
}

.beMember {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.circleimg {
	margin: 20px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.beneficts {
	max-width: 950px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.beneficts li {
	list-style: none;
}

.beneficts img {
	width: 300px;
}

@media only screen and (min-width: 570px) {
	.loadBtn {
		height: 45px;
	}
}

@media only screen and (min-width: 900px) {
	.beneficts {
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (min-width: 950px) {
	.news-section,
	.yourNews {
		gap: 20px;
		flex-direction: row;
	}
}

@media only screen and (min-width: 1450px) {
	.categories {
		justify-content: center;
	}
	.userHelp {
		display: none;
	}
}
