@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

:root {
	--mainColor: #48435c;
	--secondary: #eceaf0;
	--terciary: #d4bbbb;
	--contrast: #1c1c1c;
	--background: #f9f9f9;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
	color: var(--contrast);
	background-color: var(--background);
	text-align: center;
}

header {
	max-width: 1450px;
}

main {
	max-width: 1450px;
}

button {
	cursor: pointer;
}

@media only screen and (min-width: 1450px) {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
